.map-bin {
  padding: 12px 20px !important;
}
.blue-signal::before {
  content: "";
  width: 50px;
  height: 100%;
  background: #74d4ff;
  position: absolute;
  top: 0;
  right: 0;
}

details summary,
.sub-bin--body p {
  font-family: 'Geist', sans-serif;
}

.sub-bins:not([open]) .sub-bin--header {
  border-bottom-left-radius: .625rem;
  border-bottom-right-radius: .625rem;
}